input, textarea
  background: $off-white
  width: 100%
  padding: 15px
  font-size: 14px

input
  border: 1px solid $grey

textarea
  border: none

label
  display: block
  font-weight: bold
  margin-bottom: 5px

.boolean.label
  display: inline-block
.checkbox
  display: inline-block
  width: auto
  margin-bottom: 20px
  margin-left: 10px

.error, .error_notification
  color: $red
.error_notification
  margin-bottom: 15px
